:root {
  --primary: #fb8c00;
  font-family: None;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  
}

body {
  padding: 20px;
  margin-left: 20px;
  max-width: 1600px;
  --primary: #fed8b1;
  --secondary: #ff8b3d;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

button {
  color: #ff8b3d;

}

button:hover {
  color: white;
  background: #ff8b3d
}


#opening_page_container {
  padding: 100px

}


#loginmodal {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  padding: 50px;
  display: grid;
  /* justify-content: */
  /* width: 400px; */

}

#loginmodal * {
  font-size: 20px
}

.opening-form {
  padding: 20px;
}

#fullheader {
  display: grid;
  grid-template-columns: 2fr 3.5fr;
  column-gap: 10px
}

#header-details {
  display: flex;
  justify-content: space-around

}

.headerlinks {
  height: 30px
}

#headerlogo {
  height: 180px;
  margin-left: 40px;
  margin-bottom: 50px;
  min-width: 200px
}

#logoutbtn {
  display: grid;
  align-content: center;
  width: 150px;
  height: 50px;

}

#library-container h2 {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

#librarysessions-title {
  display: grid;
  grid-template-columns: 1fr 2fr;
  
}


#sortbuttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center
}

#categorybtn {
  font-size: 15px;
  height: 30px;
  max-width: 120px;
  padding: 0px

}

.sessionblocks-container {
  display: flex;
  height: 350px;
  justify-content: left;
  padding-left: 20px;
  overflow-x: scroll;
  white-space: nowrap
}

#sessionblock {
  min-width: 300px;
  max-width: 300px;
  height: 250px;
  margin-right: 20px;
  vertical-align: baseline;
  border-radius: 6px;
}


#sessionblock-text {
  text-wrap: wrap;
  color: #08769b;
  background: #d3d3d3;
  padding: 3px 5px;
  border-radius: 3px
  

}

#sessionblock img {
  opacity: .5
}

#sessionpage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  column-gap: 25px

}

.addtomysparks-btn {
  width: 120px;
  height: 70px;
  padding: 0;
  font-size: 15px;
  justify-self: end;
  margin-right: 50px
  
}

#sessiondetails-container {
  display: grid;
  grid-template-rows: 3fr 1fr
}

#categorytags-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
  
}

.categorytag {
  display: grid;
  width: 80px;
  height: 50px;
  font-size: 15px;
  margin: 10px;
  padding: 0;
  align-content: center
}

#mysparks-title {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

#browselink article {
  font-size: 175px;
  background-color: var(--primary);
  color: var(--secondary);
  text-align: center;
}

/* #browse p {
  color: var(--secondary)
} */

/* #browse:hover {
  text-decoration: none
} */


#profilepage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-right: 50px
}

#profilepage-infoside {
  display: grid;
  grid-template-rows: 1fr 3fr
}

#titleandbutton {
  display: inline-grid;
  grid-template-columns: 1.5fr 3fr;
  justify-items: start;
  align-items: center;
  /* align-items: center */


}

#titleandbutton h2 {
  margin-bottom: 0;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

#profilepage-container img {
  margin: 10px;
  border-radius: 7px
}

/* .dropdown {
  position: relative;
  display: inline-block;
} */

#ellipsesbtn {
  background: white;
  width: 100px;
  font-size: 30px;
  height: 50px;
  border-radius: 15px;
  font-weight: 1000;
  color: var(--secondary);
  border: none;
  text-align: left;

}

#ellipsesbtn:hover {
  color: var(--secondary)
}



.dropdown-content {
  background-color:white; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 3px;
  position: absolute;
  left: 400px;
  top: 300px

}

.dropdown-content * {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.editprofile-form input {
  height: 40px;
  width: 40%

}







/* 
#sessionblock img {
  min-width: 100%
} */


/* #sessionpage-container {
  display: grid
} */





/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
